# Maven / Java / Backend
backend/target/
backend/*.class
backend/src/main/frontend/generated
backend/src/main/bundles/prod.bundle

# Node / Angular /Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/node
frontend/target

# H2 database files
data
backend/data/

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
